{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="p-4 pb-5" style="width: 60%; border: 2px solid black; border-radius: 12px;">

        <form action="{{ url_for('main.direct') }}" method="post">
            <div class="p-3 my-3">
                <h4 class="h4 text-center">{% block message %}Welcome back! Sign in to continue{% endblock %}</h4>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" >Email address</label>
              <input type="email" name="loginemail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="loginpassword" class="form-control" id="exampleInputPassword1" required>
            </div>
            <button type="submit" class="btn btn-success" style="width: 100%;">Login</button>
        </form>
        {% if session['role'] != 'admin' %}
        <div class="text-center mt-3">
            <p>Don't have an account? <a href="{{url_for('main.register')}}"  style="text-decoration: none; color: rgb(16, 27, 53);" >&nbsp;Register here</a></p>
            <p style="background-color: rgb(181, 221, 255); border-radius: 12px;">Not a {{ session['role'] }}? <a href="{{url_for('main.logout')}}" style="text-decoration: none; color: rgb(16, 27, 53);">Go back</a></p>
        </div>
        {% endif %}
        {% if session['role'] == 'admin' %}
        <div class="text-center mt-3">
            <p style="background-color: rgb(181, 221, 255); border-radius: 12px;">Not an Admin ? <a href="{{url_for('main.logout')}}"  style="text-decoration: none; color: rgb(16, 27, 53);" >&nbsp;Go Back</a></p>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}
